{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template tool_message/manage


    Example context (json):
    {
    }
}}

<h1>{{header}}</h1>
<p>{{subheader1}}</p>
<p>{{todayis}}</p>
<p>{{subheader2}}</p>

<table class="table table-responsive table-striped table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Message</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        {{#messages}}
        <tr>
            <td>{{messagetext}}</td>
            <td>{{messagetype}}</td>
        </tr>
        {{/messages}}
    </tbody>
</table>

<hr>
<input type="button" class="btn btn-primary" value="Create a message" onclick="location.href='{{editurl}}'">